.collapse {
  display: flex;
  justify-content: center;
}
.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fitered-data {
  border: 1px solid #333;
  padding: 5px;
  border-radius: 10px;
  background-color: #9c9c9c;
}
.fitered-data p {
  margin: 5px;
  color: #fff;
}
